.footer {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.4rem 2rem;
  background: #224b4b;
  gap: 7px;
}
.footer a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer a:hover{
  text-decoration: underline;
}