*{
  margin: 0;
  padding: 0;
}
.hero {
  height: 100vh;
  background: url('../Images/beautiful-shot-bird-flying-lake-water-surrounded-by-mountains-trees.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;

}

.hero-content{
  width: 80%;
  margin-top: 110px;
}
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero-content h2 {
  margin-bottom: 0.3rem;
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.hero-btn {
  padding: 0.8rem 2rem;
  margin-top: 5px;
  background-color: #026a7e;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.hero-btn:hover {
  background-color: #0096c7;
}


/* search */
.hero-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 14.5rem;
}

.hero-search input {
  padding: 1rem 1rem;
  width: 300px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: white;
  outline: none;
  text-align: center;
  transition: all 0.3s ease;
}

.hero-search input::placeholder {
  color: rgba(255, 255, 255, 0.901);
}
.hero-search input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.06);
}

.hero-search button {
  padding: 1rem 1rem;
  width: 100px;
  border: none;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.hero-search button:hover {
  background-color: #0096c7;
  border: #0096c7;
}

.search-result {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ffd166;
  text-align: center;
}


/* contact */
.contact-btn {
  position: absolute; 
  left: 2.5rem;      
  bottom: 3rem;      
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 10;
}

.contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.contact-btn .down-arrow {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}
