* {
  box-sizing: border-box;
  
}


.navbar {
  position: fixed; 

  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2rem;
  background: #2A6F6F;
  z-index: 1000;
  color: #F8F9FA;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}
.nav-links li a {
  color: #F8F9FA;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  padding-bottom: 4px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav-links li a:hover {
  color: #A8DADC;
  border-bottom: 2px solid #A8DADC;
}





.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
